.ant-layout-sider-trigger {
  background-color: #118afb !important; 
  color: white; /* Màu chữ của nút collapse */  
}

.ant-layout-sider-trigger:hover {
  background-color: #54acff !important; 
}

.responsive-table {
  overflow-x: auto;
  
}